<%= render "renders/pruebatop"%>	
  <h2>Visualizar Profesor Honorario</h2>
<%= render "renders/pruebamid"%>	


<%= link_to 'Volver', profesors_path, class: "btn btn-default" %>
<%= render "renders/pruebabot"%>	

