
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SPMP!</span></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag "img.jpg", :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span>Bienvenido,</span>
          <h2>Pablete JC</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>Administrador</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-sitemap"></i> Planificación <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                
                <li><a>Carreras<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li class="sub_menu"><%= link_to 'Administrar Carreras', carreras_path %>
                    </li>
                    <li><%= link_to 'Administrar Mallas', mallas_path %>
                    </li>
                    <li><%= link_to 'Administrar Modulos', modulos_path %>
                    </li>
                    <li><a href="modulos">Administrar Secciones</a>
                    </li>
                  </ul>
                </li>
                
               <li><a> Profesores<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li class="sub_menu"><a href="level2.html">Tiempo Completo</a>
                    </li>
                    <li><a href="#"> Part-time</a>
                    </li>
                  </ul>
                </li>
                
                <li><a href="#level1_2">Level One</a>
                </li>
              </ul>
            </li>
            
         
            <li><a><i class="fa fa-edit"></i> Solicitudes <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
               <li><a href="#">Ver Solicitudes</a>
                </li>
                <li><a href="#">Crear Solicitud</a>
                </li>
              </ul>
            </li>
            
 
            <li><a><i class="fa fa-bar-chart-o"></i> Presupuesto <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Administrar Presupuesto</a>
                </li>
              </ul>
            </li>
            
            <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Administrar Usuarios</a>
                </li>
              </ul>
            </li>
            
          </ul>
        </div>
        <div class="menu_section">
        
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Configuración">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>

        </a>
        <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
