<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "img.jpg" %> <%= current_usuario.email %> 
            <span class=" fa fa-angle-down"></span>
          </a>
     
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
             <%= link_to('Editar Perfil', edit_usuario_registration_path) %> 
            </li>
            <li>
             <%= link_to('Cerrar sesión ', destroy_usuario_session_path, :method => :delete) %> 
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green" title="asd">6</span>
          </a>
       </li>



      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
